.header {
    height: 57px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right : 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(177, 177, 177);
    z-index: 100;
}

.left-section {
   
    display: flex;
    align-items: center;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width : 500px;
    display : flex;
    align-items: center;
}

.right-section {
    width : 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.ham-menu {
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

.youtube-logo {
    height: 20px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc ;
    margin-left: -1.5px;
    margin-right: 10px;

    

}

.search-button{
    position: relative;
}

.search-button .tooltip{
    position:absolute;
    background-color: gray;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-button:hover .tooltip{
    opacity: 0.8;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color:#cfcfcf;
    border: none;

}

.search-bar {
    flex : 1;
    height : 37px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px  rgba(0, 0, 0, 0.05);
    margin-bottom: 0.5px;
    width: 0;
    z-index: 1;
}

.search-bar::placeholder {
    font-family: Roboto ,Arial;
    font-size: 16px;
}

.search-icon { 
    height: 25px;
    margin-top: 4px;
}

.voice-search-icon {
    height: 24px;
    margin-top:4px ;
}

.uploads-icon {
    height: 24px;
}

.youtube-app-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right : -5px;
    background-color: red;
    color: white;
    font-size: 10px;
    font-family: Roboto, Arial;
    padding-top: 1px;
    padding-left: 4px;
    padding-bottom: 1px;
    padding-right: 4px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.channel-profile-pic {
    height: 32px;
    border-radius: 100%;
}

.profile-dropdown {
    position: relative;
  }
  
  .profile-icon {
    cursor: pointer;
  }
  
  .dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color:rgb(3, 3, 3);
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
    width : 140px;
    border-radius: 5px;
    opacity: 0.8;
  }
  
  .dropdown-list li {
    padding: 5px;
  }
  
  .dropdown-list li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Arial, Roboto;
    padding-left: 5px;
  }
  
  .profile-dropdown:hover .dropdown-list {
    display: block;
  }
  