.sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 57px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    background-color: white;
    height : 74px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}

.sidebar-link:hover{
    background-color: rgb(207,207,207);
}

.sidebar-link img {
    height : 24px;
    padding-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}